* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --primary-color: #2bff64;
  --bg-color-primary: #2bff64;
  font-size: 62.5%;
}

#topbar{
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid beige;
  height: 100px;
  width: auto;
  background-color: rgb(92, 165, 183);
}

#logo{
  height: 90px;
  width: 130px;
  margin: 5px;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
  background-color: rgb(143, 167, 212);
}

form  {
  margin-top: 4rem !important;
  margin: 0px;
  padding-left: 0.2rem;

  display: grid;
  width: 30%;
  margin-bottom: 2rem;
}

input, button {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

label {
  margin-top: 1rem;
}

button {
  margin-top: 2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: var(--bg-color-primary);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

#listTitle{
margin: 0 auto;
}


#list-section {
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}


ul {
  list-style: none;
  max-height: 28rem;
  min-height: 28rem;
  overflow-y: auto;
  scrollbar-width: thin;
  width: 100%;
}

li {
  margin-top: 1.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}