* {
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: #c76262;
  display: flex;
}

#hull {
  width: 700px;
  height: 774px;
  background: #4c4c47;
}
#topbar {
  width: 700px;
  height: 100px;

  background: #2d2d2a;
}
#topbartxt {
  color: #ffffff;
  font-weight: 100;
  font-family: 'Glory';
  font-size: 60;
  margin-top: 10px;
  margin-left: 36%;
}

#titlee {
  color: #ffffff;
  font-weight: 100;
  font-family: 'Glory';
  font-size: 30;
  margin-top: 55px;
  margin-left: 10px;
}
#desc {
  color: #ffffff;
  font-weight: 100;
  text-align: justify;
  font-family: 'Glory';
  margin-top: 5px;
  margin-left: 10px;
}

#topbardetail {
  width: 700px;
  height: 9px;

  background: #e5dcc5;
}

#holder {
  background-image: url('https://i.pinimg.com/originals/fd/34/72/fd3472f50c7e0dc52e99f29b9e0fb440.png');
  align-items: center;
  padding: 5px;
  margin-top: 13%;
  margin-left: 0px;
  width: 700px;
  height: 350px;
  background: #2d2d2a;
  z-index: 1;
}
#blk1 {
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 0px;
  border-radius: 20px;
  margin: 10px;
  background: #ffffff;
}
#blk1holder{
  align-items: center;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin: 10px;
  background: #ffffff;
}
#blk1txt{
  font-family: 'Inter';
  font-size: 20px;
  width: 345px;
  height: 90px;
  margin: 10px;

  color: #ffffff;
}




#blk2 {
  align-items: center;
  display: flex;
  width: 100px;
  margin-left: 0px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
  background: #ffffff;
}
#blk2txt{
  font-family: 'Inter';
  font-size: 20px;
  width: 345px;
  height: 90px;
  margin: 10px;

  color: #ffffff;
}

#blk2holder{
  align-items: center;
  display: flex;
  width: 80px;
  height: 80px;
  margin-left: 100px;
  margin: 20px;
  background: #ffffff;
}
#blk3 {
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
  background: #ffffff;
}
#blk3holder{
  align-items: center;
  display: flex;
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin: 10px;
  background: #ffffff;
}
#blk3txt{
  font-family: 'Inter';
  font-size: 18px;
  width: 345px;
  height: 90px;
  margin: 10px;
  color: #ffffff;
}

#bottombar {
  margin-top: 5%;
  width: 700px;
  height: 154px;
  align-items: center;
  display: flex;
  background: #848fa5;
}

#bottombartxt {
  color: #ffffff;
  font-weight: 100;
  font-family: 'Glory';
  font-size: 60;
  margin-left: 26%;
}

#bottomdetail {
  margin-top: 5%;
  width: 700px;
  height: 9px;

  background: #e5dcc5;
}
