*{
  margin: 0%;
  border: 0%;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
}

div{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100px;
  height: 100px;
  color: brown;
}